[MASTER]
ignore=CVS
jobs=1

[MESSAGES CONTROL]
disable=all

enable=syntax-error, undefined-variable, duplicate-code, bad-indentation,
#enable=F,E
[REPORTS]
output-format=text

[BASIC]
good-names=i,j,k,ex,Run,_